.aboutme_body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    align-items: top; 
}

@font-face {
	font-family: Poppins;
	src: url(../assets//fonts/FontsFree-Net-Poppins-Medium.ttf);
}

/* iamge container */
.image_container{
    display: flex;
    width: 50vw;
    height: 50vh;
    justify-content: center;
   
  
}   

.image{
    max-width: 100%;
    max-height: 100%;
    filter: grayscale(20%) sepia(10%);
    border-radius: 50%;
    overflow: hidden;
}

/* aboutme container */
.aboutme_content{
    display: flex;
    flex-direction: column;
    justify-content: top;
    text-align: center;
    width: 50vw;
    height: 100vh;
    margin-right: 4%;
    }
    

.about{
    font-size: 50px;
    color: aliceblue;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
   
}


.me{
    color: red;
    margin-left: 10px;
}

.heading{
    color: aliceblue;
     margin-top: 10px;
     font-family: 'Poppins', sans-serif;
}

.para{
    color: whitesmoke;
    text-align: justify;
    margin-top: 10px;  
    font-family: 'Poppins', sans-serif;
}

.buttons{
    display: flex;
    justify-content:center;
    width: 50vw;
    height: 20vh;
}

.hireMe,.cv{
 
    margin-right: 50px;
    margin-top: 50px;
    background-color: red;
    width: 180px;
    height: 40px;   
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    font-family: 'Poppins', sans-serif;

}

.hireMe:hover,
.cv:hover {
    background-color: #ff5050;  
    transform: scale(1.05);
}