.main_body{
   width: 100vw;
   height: 90vh;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.intro{
   color: aliceblue;
   font-family: 'Poppins', sans-serif;

}

.profession{
   color: aliceblue;
   font-family: 'Poppins', sans-serif;
}


.name{
   color: red;
   font-family: 'Poppins', sans-serif;
}

/* icons */

.social_icons{
 display: flex ;
 margin-top: 16px;
 gap: 16px;

}

.icon{
   color: aliceblue;
   font-size: 24px;
}