.layout_body{
   background-color:#000000;
   /* background-color: rgb(245, 245, 245); */
   overflow-y: hidden;
   overflow-x: hidden;
}

@font-face {
	font-family: Poppins;
	src: url(../assets//fonts/FontsFree-Net-Poppins-Medium.ttf);
}
.home_placement{
   height: 100vh;
   width: 100vw;
}

.aboutMe_placement{
   height: 100vh;
   width: 100vw;
}

.career_placement{
   height: auto;
   width: 100vw;
}

.skill_placement{
   height: auto;
   width: 100vw;
}