.navbar {
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
}

.header {
    color: aliceblue;
    font-size: 20px;
}

.nav_body {
    display: flex;
    align-items: center; 
    margin-left: 50px;
}

.nav_contents {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav_contents a {
    margin-right: 30px;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
