.navbar {
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px;
    margin-right: 5%;
}

.port{
    color: aliceblue;
    font-size: 20px;
    font-family: 'Poppins', sans-serif; 
}

.folio{
    color: red;
}

.nav_body {
    display: flex;
    align-items: center; 
}

.nav_contents {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav_contents a {
    margin-right: 30px;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    position: relative;
    transition: color 0.3s, text-decoration 0.3s;
    font-family: 'Poppins', sans-serif;

}

.nav_contents a:hover{
color: red;
}

.nav_contents a::after{
    content: " ";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: red;
    bottom: -2px;
    left: 0;
    transition: width 0.3s;

}

.nav_contents a:hover::after {
    width: 100%;
}
